@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --spacing: 1px;

    --breakpoint-*: initial;
    --breakpoint-mobile: 320px;
    --breakpoint-tablet: 576px;
    --breakpoint-laptop: 768px;
    --breakpoint-desktop: 1440px;
}

@layer components {
    .wrapper {
        @apply mx-auto px-15 w-full tablet:px-33 tablet:max-w-768 laptop:px-39 laptop:max-w-1440 desktop:px-165;
    }
}
